name: Python CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: "Set up Python"
      uses: actions/setup-python@v5
      with:
        python-version-file: "pyproject.toml"

    - name: Install uv
      uses: astral-sh/setup-uv@v6
      with:
          # Install a specific version of uv.
          version: "0.8.10"

    - name: Install the project
      run: uv sync --locked --all-extras --dev
  
    - name: Run tests
      # For example, using `pytest`
      run: uv run pytest src_folder/tests
      env:
        OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
        GOOGLE_API_KEY: ${{ secrets.GOOGLE_API_KEY }}
        COMPOSIO_API_KEY: ${{ secrets.COMPOSIO_API_KEY }}